@import "./src/app/common/reset/reset.mixin.scss";
@import "color.mixin.scss";
@import "fontSize.mixin.scss";

@import "color.variables.scss";
@import "fontSize.variables.scss";
@import "breakpoint.variables.scss";
@import "wrapper.variables.scss";

@mixin html-reset () {
    @include reset() {
        #{$wrapper-class} {
            box-sizing: border-box;

            max-width: $wrapper-max-width;

            min-width: $wrapper-min-width;

            padding: $wrapper-padding;

            margin: 0 auto;

            width: 100%;

            min-height: 100vh;
        }

        @content;

        @include font-size-class($font-unit: rem);
        @include color-class();
    }
}
