@import "formInput.variables.scss";
@import "label/label.mixin.scss";
@import "note/note.mixin.scss";
@import "textInput/textInput.mixin.scss";
@import "checkboxInput/checkboxInput.mixin.scss";
@import "radioInput/radioInput.mixin.scss";
@import "selectInput/selectInput.mixin.scss";
@import "toggleInput/toggleInput.mixin.scss";

@mixin formInput() {
    .formInput {
        margin-bottom: $formInput-margin-bottom;

        &__input {
            clear: both;
        }

        &__wrapper {
            position: relative;
        }
    }

    @include label();

    @include note();

    @include textInput();

    @include checkboxInput();

    @include radioInput();

    @include selectInput();

    @include toggleInput();

    .formInput {
        @content;
    }
}
