@import "./src/app/scrollbar/scrollbar.mixin.scss";

@include scrollbar() {
    float: left;

    max-width: 50%;
};

@include scrollbar($isOverlay: true, $margin: 5px, $trackBackground: rgba($black, 0.4), $modifier: "--overlay") {
};

.demoEle {
    display: block;

    box-sizing: border-box;

    height: 100px;
    width: 100%;

    overflow: hidden;

    border: 1px solid #ff0000;

    &:nth-child(odd) {
        background: #eeeeee;
    }
}
