@import "./src/app/scrollbar/scrollbar.mixin.scss";

@include scrollbar($isOverlay: true, $margin: 5px) {
    height: 300px;
    max-width: 100vw;
};

.demoEle {
    display: block;

    height: 100px;
    width: 1000px;

    overflow: hidden;

    border: 1px solid #ff0000;

    &:nth-child(odd) {
        background: #eeeeee;
    }
}
