{% macro map(id, class, dataset, options) %}
    <div
        {% if id %} id="{{- id -}}"{% endif %} 
        {#!- #} class="map{% if class %} {{ class }}{% endif %}"
        {%- for key, value in dataset %} data-map-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {%- if options.notSupport -%}
            <!--[if lte IE 9]><p class="map__msg">{{- options.notSupport | safe -}}</p><![endif]-->
        {%- endif -%}
    </div>

    {% if options.key %}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{- key -}}"></script>{% endif %}
{% endmacro %}