@import "./src/app/common/color.variables.scss";
$button-padding: 5px 10px;
$button-margin: 0 0 5px;
$button-text-shadow: none;
$button-border-radius: 10px;
$button-font-color: $black;
$button-background-color: $white;
$button-border-color: $black;
$button-hover-font-color: $white;
$button-hover-background-color: $black;
$button-hover-border-color: $black;
$button-disabled-font-color: $black;
$button-disabled-background-color: $gray;
$button-disabled-border-color: $black;
