@import "../color.variables.scss";
@import "../fontSize.variables.scss";

$font-family: "Arial","Times New Roman","Microsoft JhengHei","PMingLiU";
$base-font-size: $h4;    // reset $base-font-size (unit.function.scss) to (fontSize.variables.scss)
$font-unit: rem;
$font-color: $black;
$font-selection-background-color: $blue;
$font-selection-color: $white;
