@import "default.variables.scss";
@import "input.variables.scss";

@mixin input-reset {
    :-ms-input-placeholder {
        // Internet Explorer 10-11
        color: $input-placeholder-color;
    }

    ::-ms-input-placeholder {
        // Microsoft Edge
        color: $input-placeholder-color;
    }

    ::placeholder {
        color: $input-placeholder-color;

        opacity: 1; // Firefox
    }

    fieldset {
        padding: 0;

        margin: 0;

        border: 0;
    }

    legend {
        padding: 0;

        border: 0;
    }

    label {
        cursor: pointer;
    }

    input,
    textarea,
    select {
        padding: 0;

        margin: 0;

        border: 1px solid $input-border-color;

        border-radius: 0;

        outline: 0 none;

        box-shadow: none;

        color: $input-font-color;

        vertical-align: baseline;

        text-shadow: none;

        background-color: $input-background-color;

        &:invalid {
            box-shadow: none;
        }

        &:focus {
            outline: $focus-outlin;
        }
    }

    input {
        &[type="search"],
        &[type="date"],
        &[type="datetime-local"],
        &[type="month"],
        &[type="week"],
        &[type="time"],
        &[type="button"],
        &[type="reset"],
        &[type="submit"] {
            -webkit-appearance: none;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
    }

    input[type="search"] {
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}
