@import "default.variables.scss";
@import "input.variables.scss";

@mixin input-reset {
    :-ms-input-placeholder {
        // Internet Explorer 10-11
        color: $input-placeholder-color;
    }

    ::-ms-input-placeholder {
        // Microsoft Edge
        color: $input-placeholder-color;
    }

    ::placeholder {
        color: $input-placeholder-color;

        opacity: 1; // Firefox
    }

    label {
        cursor: pointer;
    }

    input,
    textarea,
    select {
        padding: $input-padding;

        margin: $input-margin;

        border: 1px solid $input-border-color;

        border-radius: $input-border-radius;

        outline: 0 none;

        color: $input-font-color;

        vertical-align: baseline;

        text-shadow: none;

        background-color: $input-background-color;

        &:focus {
            outline: $focus-outlin;
        }

        &:hover {
            border-color: $input-hover-border-color;

            color: $input-hover-font-color;

            background-color: $input-hover-background-color;
        }

        &:disabled {
            border-color: $input-disabled-border-color;

            color: $input-disabled-font-color;

            background-color: $input-disabled-background-color;

            cursor: default;
        }
    }
    
    input,
    textarea{
        &:-moz-read-only { /* For Firefox */
           border-color: $input-readonly-border-color;

            color: $input-readonly-font-color;

            background-color: $input-readonly-background-color;

            cursor: text;
        }

        &:read-only {
            border-color: $input-readonly-border-color;

            color: $input-readonly-font-color;

            background-color: $input-readonly-background-color;

            cursor: text;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
    }

    input[type="search"] {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        -webkit-appearance: textfield;

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}
