@import "./src/app/common/color.variables.scss";

$table-border-color: $black;
$table-head-font-color: $black;
$table-head-background-color: $white;
$table-head-border-color: $black;
$table-body-font-color: $black;
$table-body-background-color: $white;
$table-body-border-color: $black;
