@import "./src/app/common/color.variables.scss";
$table-head-padding: 10px;
$table-body-padding: 10px;
$table-head-font-weight: bold;
$table-body-font-weight: normal;
$table-border-color: $black;
$table-head-font-color: $black;
$table-head-background-color: $gray;
$table-head-border-color: $black;
$table-body-font-color: $black;
$table-body-background-color: $white;
$table-body-border-color: $black;
