{# collapse element #}
{% macro collapse(id, class, dataset, options) %}
    <div
        {%- if id %} id="{{- id -}}"{%- endif -%}
        {#!- #} class="collapse
        {%- if class %} {{ class }}{% endif -%}"
        {%- for key, value in options.dataset %} data-collapse-{{key | toDataset}}="{{value}}"{%- endfor -%}
        {%- for key, value in dataset %} data-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {{- caller() -}}
    </div>
{% endmacro %}

{# collapse buttons list #}
{%- macro buttons(id, class, dataset, options) -%}
    <{% if options.tag %}{{- options.tag -}}{% else %}div{% endif %}
        {%- if id %} id="{{- id -}}"{%- endif -%}
        {#!- #} class="collapse__buttons
        {%- if class %} {{ class }}{% endif -%}"
        {%- for key, value in options.dataset %} data-collapse-{{key | toDataset}}="{{value}}"{%- endfor -%}
        {%- for key, value in dataset %} data-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {{- caller() -}}
    </{% if options.tag %}{{- options.tag -}}{% else %}div{% endif %}>
{%- endmacro -%}

{# collapse button #}
{% macro button(id, class, itemId, dataset, options) %}
    <{%- if options.tag -%}{{- options.tag -}}{%- else -%}button{% endif -%}
        {%- if id %} id="{{- id -}}"{% endif -%}
        {#!- #} class="collapse__button
        {%- if options.expand === true %} active{% endif -%}
        {%- if class %} {{ class }}{% endif -%}"
        {%- if options.tag === "a" %}
            {#!- #} href="#{{itemId}}"
        {%- endif -%} 
        {#!- #} data-collapse-target="{{itemId}}"
        {%- for key, value in options.dataset %} data-collapse-{{key | toDataset}}="{{value}}"{%- endfor -%}
        {%- for key, value in dataset %} data-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {{- caller() -}}
    </{%- if options.tag -%}{{- options.tag -}}{%- else -%}button{% endif -%}>
{% endmacro %}

{# collapse wrapper #}
{%- macro wrapper(id, class, dataset, options) -%}
    <div
        {%- if id %} id="{{- id -}}"{%- endif -%}
        {#!- #} class="collapse__wrapper
        {%- if options.overlap %} collapse__wrapper--overlap{% endif -%}
        {%- if class %} {{ class }}{% endif -%}"
        {%- for key, value in options.dataset %} data-collapse-{{key | toDataset}}="{{value}}"{%- endfor -%}
        {%- for key, value in dataset %} data-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {{- caller() -}}
    </div>
{%- endmacro -%}

{# collapse item #}
{%- macro item(id, class, itemId, dataset, options) -%}
    <div
        {%- if id %} id="{{- id -}}"{%- endif -%}
        {#!- #} class="collapse__item
        {%- if options.expand === true %} collapse__item--expand{% endif -%}
        {%- if options.animation %} collapse--animation
            {%- if options.expand === true %} collapse--animation--end collapse--animation--play{% endif -%}
        {%- endif -%}"
        {#!- #} data-collapse-id="{% if itemId %}{{itemId}}{% else %}{{id}}{% endif %}"
        {%- for key, value in options.dataset %} data-collapse-{{key | toDataset}}="{{value}}"{%- endfor -%}
        {%- for key, value in dataset %} data-{{key | toDataset}}="{{value}}"{%- endfor -%}
    >
        {%- if options.animation -%}
            <div class="collapse__animation collapse__animation--{{options.animation}}">
        {%- endif -%}
        <div class="collapse__item__wrapper
        {%- if class %} {{ class }}{% endif -%}">
            {{- caller() -}}
        </div>
        {%- if options.animation -%}
            </div>
        {%- endif -%}
    </div>
{%- endmacro -%}

{# auto collapse generator #}
{%- macro generator(id, class, items, dataset, options) -%}
    {%- if options.type === "tab" -%}
        {# tab #}
        {% call collapse(id=id, class=class, dataset=dataset, options={
            dataset: {accordion: "true"}
        } | assignObj(options)) %}
            {%- call buttons(id=options.buttons.id, class=options.buttons.class, dataset=options.buttons.dataset, options=options.buttons.options) -%}
                {%- for key, value in items | arr2obj -%}
                    {%- if value.button -%}
                        {%- if value.itemId -%}
                            {%- set itemId=value.itemId -%}
                        {%- else -%}
                            {%- set itemId=value.id -%}
                        {%- endif -%}
                        {%- call button(id=value.button.id, class=value.button.class, itemId=itemId, dataset=value.button.dataset, options={expand: value.options.expand} | assignObj(value.button.options)) -%}
                            {%- for text in value.button.text | findContent("", options.lang) -%}
                                {{- text | safe -}}
                            {%- endfor -%}
                        {%- endcall -%}
                    {%- endif -%}
                {%- endfor -%}
            {%- endcall -%}
            {%- call wrapper(id=options.wrapper.id, class=options.wrapper.class, dataset=options.wrapper.dataset, options={overlap: true} | assignObj(options.wrapper.options)) -%}
                {%- for key, value in items | arr2obj -%}
                    {%- call item(id=value.id, class=value.class, itemId=value.itemId, dataset=value.dataset, options=value.options) -%}
                        {%- for content in value.content | findContent("", options.lang) -%}
                            <p>{{- content | safe -}}</p>
                        {%- endfor -%}
                    {%- endcall -%}
                {%- endfor -%}
            {%- endcall -%}
        {%- endcall -%}
    {%- else -%}
    {# default #}
        {% call collapse(id=id, class=class, dataset=dataset, options=options) %}
            {%- for key, value in items | arr2obj -%}
                {%- call buttons(id=options.buttons.id, class=options.buttons.class, dataset=options.buttons.dataset, options=options.buttons.options) -%}
                    {%- if value.button -%}
                        {%- if value.itemId -%}
                            {%- set itemId=value.itemId -%}
                        {%- else -%}
                            {%- set itemId=value.id -%}
                        {%- endif -%}
                        {%- call button(id=value.button.id, class=value.button.class, itemId=itemId, dataset=value.button.dataset, options={expand: value.options.expand} | assignObj(value.button.options)) -%}
                            {%- for text in value.button.text | findContent("", options.lang) -%}
                                {{- text | safe -}}
                            {%- endfor -%}
                        {%- endcall -%}
                    {%- endif -%}
                {%- endcall -%}
                {%- call wrapper(id=options.wrapper.id, class=options.wrapper.class, dataset=options.wrapper.dataset, options=options.wrapper.options) -%}    
                    {%- call item(id=value.id, class=value.class, itemId=value.itemId, dataset=value.dataset, options=value.options) -%}
                        {%- for content in value.content | findContent("", options.lang) -%}
                            <p>{{- content | safe -}}</p>
                        {%- endfor -%}
                    {%- endcall -%}
                {%- endcall -%}
            {%- endfor -%}
        {%- endcall -%}
    {%- endif -%}
{%- endmacro -%}
