@import "collapse.animation.mixin.scss";

@import "collapse.default.scss";

@mixin collapse($withAnimation: false, $duration: $animation-duration, $timing-function: $animation-timing-function) {
    .collapse {
        &__wrapper {
            position: relative;

            display: block;

            overflow: hidden;
        }

        &__item {
            position: relative;

            display: none;

            box-sizing: border-box;

            &__wrapper {
                box-sizing: border-box;

                &::after {
                    display: block;
                    clear: both;

                    height: 0;

                    overflow-y: hidden;

                    content: "";
                }
            }

            &--expand {
                display: block;
            }
        }

        @content;        
    }

    @if $withAnimation == true {
        @include collapse-animation ($duration: $duration, $timing-function: $timing-function);
    }
}
