<!DOCTYPE html>
<html lang="{{- html.lang[lang].code -}}" dir="ltr">
<head>
    {% include 'template/meta.html' %}
    {% block meta %}{% endblock %}

    <title>{{- page.head.title[lang] -}}</title>

    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="/favicon-32x32.png">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/coast-228x228.png">
    <!-- Helps prevent duplicate content issues -->
    <link rel="canonical" href="{{- page.head.canonical[lang] -}}">

    {% include 'template/style.html' %}
    {% block style %}{% endblock %}
</head>
<body style="height: 100%;">
    {%- block html -%}{%- endblock %}

    {% include 'template/scripts.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>