<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="{{- html.viewport[viewport] -}}" />

<!-- Microsoft Tiles -->
<meta name="msapplication-config" content="browserconfig.xml">

<meta name="description" content="{{- page.head.description[lang] -}}" />
<meta name="keywords" content="{{- page.head.keywords[lang] -}}" />
<meta name="author" content="{{- page.head.author[lang] -}}" />
<meta name="copyright" content="{{- page.head.copyright[lang] -}}" />

{% if share %}
    <!-- Share Information-->
    <!-- for Facebook & LinkedIn -->
    <meta property="og:title" content="{{- page.head.title[lang] -}}" />
    <meta property="og:description" content="{{- page.head.description[lang] -}}" />
    <meta property="og:image" content="{{- page.head.ogImage[lang] -}}" />
    <meta property="og:url" content="{{- page.head.ogUrl[lang] -}}" />
    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{- page.head.title[lang] -}}"/>
    <meta property="twitter:description" content="{{- page.head.description[lang] -}}"/>
    <meta property="twitter:image" content="{{- page.head.twImage[lang] -}}" />
{% endif %}

{% if noTel %}
    <!-- disable telephone number detection -->
    <meta name = "format-detection" content = "telephone=no">
{%- endif %}
{%- if noDate -%}
    <!-- disable date detection -->
    <meta name = "format-detection" content = "date=no">
{%- endif %}
{%- if noAddr -%}
    <!-- disable address detection -->
    <meta name = "format-detection" content = "address=no">
{%- endif %}
{%- if noEmail -%}
    <!-- disable email detection -->
    <meta name = "format-detection" content = "email=no">
{% endif %}

{% if refresh %}
    <meta http-equiv="refresh" content="0;URL={{refresh | safe}}" />
{% endif %}