@import "imageText.default.scss";

@mixin imageText-text-align() {
    &--center {
        .imageText {
            &__image,
            &__text {
                margin-left: auto;
                margin-right: auto;

                text-align: center;

                &__item {
                    margin-left: auto;
                    margin-right: auto;

                    text-align: center;
                }
            }
        }
    }

    &--right {
        .imageText {
            &__image,
            &__text {
                margin-left: auto;
                margin-right: 0;

                text-align: right;

                &__item {
                    margin-left: auto;
                    margin-right: 0;

                    text-align: right;
                }
            }
        }
    }
}

@mixin vertical-imageText-item-align() {
    &__image,
    &__text {
        &--center {
            margin-left: auto;
            margin-right: auto;

            text-align: center;

            .imageText {
                &__image,
                &__text {
                    &__item {
                        margin-left: auto;
                        margin-right: auto;

                        text-align: center;
                    }
                }
            }
        }

        &--left {
            margin-left: 0;
            margin-right: auto;

            text-align: left;

            .imageText {
                &__image,
                &__text {
                    &__item {
                        margin-left: 0;
                        margin-right: auto;

                        text-align: left;
                    }
                }
            }
        }

        &--right {
            margin-left: auto;
            margin-right: 0;

            text-align: right;

            .imageText {
                &__image,
                &__text {
                    &__item {
                        margin-left: auto;
                        margin-right: 0;

                        text-align: right;
                    }
                }
            }
        }
    }
}

@mixin imageText-horizontal-align() {
    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    &--left {
        margin-left: 0;
        margin-right: auto;
    }

    &--right {
        margin-left: auto;
        margin-right: 0;
    }
}

@mixin imageText-vertical-align() {
    &--top {
        .imageText {
            &__image,
            &__text {
                vertical-align: top;
            }
        }
    }

    &--middle {
        .imageText {
            &__image,
            &__text {
                vertical-align: middle;
            }
        }
    }

    &--bottom {
        .imageText {
            &__image,
            &__text {
                vertical-align: bottom;
            }
        }
    }
}

@mixin horizontal-imageText-item-align() {
    &__image,
    &__text {
        &--top {
            vertical-align: top;
        }

        &--middle {
            vertical-align: middle;
        }

        &--bottom {
            vertical-align: bottom;
        }
    }
}

@mixin imageText__item-margin() {
    margin-bottom: $imageText-margin-bottom;

    &__text,
    &__image {
        &__item {
            display: block;

            margin: 0;

             + .imageText {
                &__image,
                &__text {
                    &__item {
                        margin-top: $imageText-items-margin;
                    }
                }
            }
        }
    }
}

@mixin reset-imageText--inside() {
    &__image {
        &--background {
            position: static;

            height: auto;
            width: auto;

            .imageText {
                &__image {
                    &__item {
                        position: static;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;

                        max-height: none;
                        max-width: none;
                        min-height: 0;
                        min-width: 0;

                        -ms-transform: none;   // ie9
                        transform: none;
                    }
                }
            }
        }
    }
}
