@import "./src/app/common/common.scss";

$imageText-default-type: "vertical";    // vertical | horizontal | inline | inside
$imageText-default-only: false; // without other type style if set true
$imageText-margin-bottom: $base-margin;
$imageText-items-margin: $base-margin / 2;
$imageText-inside-padding: $base-margin / 2