@import "./src/app/common/common.scss";
@import "./src/app/collapse/collapse.mixin.scss";

@include html-reset() {
    @include collapse($withAnimation: true);

    #collapseTest {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        .collapse {
            &__item {
                &__wrapper {
                    height: 100%;
                    width: 100%;

                    background: rgba($black, 0.6);
                }
            }

            &__animation {
                height: 100%;
                width: 100%;
            }
        }
    }

    .header {
        @media screen and (min-width: $breakpoint-md + 0.00001) {
            #header {
                position: relative;
            }

            .header {
                &__item {
                    display: inline-block;

                    &__wrapper {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                    }
                }

                &__menu {
                    &__button {
                        display: none;
                    }

                    &__wrapper {

                        overflow: visible;

                        > .collapse {
                            &__item {
                                display: block;

                                > .collapse {
                                    &__animation {
                                        transform: none;
                                        height: auto;
                                        max-width: none;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            .header {
                &__menu {
                    &__wrapper {
                        position: fixed;
                        z-index: 50;
                        width: 100%;
                        bottom: 0;
                        background: rgba($black, 0.4);
                    }

                    &__item {
                        width: 70%;
                        height: calc(100vh - 40px);
                        background: $white;
                    }
                }
            }
        }
    }
}
