@import "scrollbar.default.scss";

html, body {
    height: 100%;
}

@mixin scrollbar() {
    .scrollbar {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;

        &__wrapper {
            box-sizing: content-box;
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: scroll;
            padding-right: 0;
            -webkit-overflow-scrolling: touch;

            &--scroll-x {
                height: calc(100% - 10px);
            }

            &--scroll-y {
                width: calc(100% - 10px);
            }
        }

        &__content {
            box-sizing: border-box;
            min-width: 100%;
            height: 100%;
            overflow: visible;

            // &::after {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 17px;
            // }
        }

        &__track {
            opacity: 1;
            position: absolute;
            display: none;
            background: #000;
            border-radius: 999px;

            &--y {
                width: 10px;
                height: 100%;
                top: 0;
                right: 0;

                &--with-x {
                    height: calc(100% - 10px);

                    // &::after {
                    //     background: #000;
                    //     content: '';
                    //     display: block;
                    //     position: absolute;
                    //     width: 10px;
                    //     height: 10px;
                    //     bottom: -10px;
                    //     right: 0;
                    // }
                }
            }

            &--x {
                width: 100%;
                height: 10px;
                bottom: 0;
                left: 0;

                &--with-y {
                    width: calc(100% - 10px);

                    // &::after {
                    //     background: #000;
                    //     content: '';
                    //     display: block;
                    //     position: absolute;
                    //     width: 10px;
                    //     height: 10px;
                    //     bottom: 0;
                    //     right: -10px;
                    // }
                }
            }

            &--visility {
                display: block;
            }

            &__slide {
                position: absolute;
                top: 0;
                left: 0;
                // background: #666;
                width: 100%;
                height: 100%;
                border-radius: 999px;
                box-sizing: border-box;
                padding: 2px;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: #666;
                    border-radius: 999px;
                }
            }
        }

        @content;
    }
}
