@import "./src/app/common/common.scss";

$scrollbar-overlay: false;
$scrollbar-size: 10px;
$scrollbar-margin: 0;
$scrollbar-padding: 2px;
$scrollbar-border-radius: 999px;
$scrollbar-track-background: $black;
$scrollbar-slide-background: $white;
