@import "scrollbar.variables.scss";

@mixin scrollbar($isOverlay: $scrollbar-overlay, $height: $scrollbar-height, $maxHeight: $scrollbar-max-height, $size: $scrollbar-size, $margin: $scrollbar-margin, $padding: $scrollbar-padding, $borderRadius: $scrollbar-border-radius, $trackBackground: $scrollbar-track-background, $slideBackground: $scrollbar-slide-background, $modifier: "") {
    .scrollbar#{$modifier} {
        @if ($modifier == "") {
            @include scrollbarStyle($isOverlay: $isOverlay, $height: $maxHeight, $size: $size, $margin: $margin, $padding: $padding, $borderRadius: $borderRadius, $trackBackground: $trackBackground, $slideBackground: $slideBackground, $modifier: $modifier);

            position: relative;

            display: block;

            height: $height;
            width: 100%;

            overflow: hidden;
        } @else {
            height: $height;

            .scrollbar {
                @include scrollbarStyle($isOverlay: $isOverlay, $height: $maxHeight, $size: $size, $margin: $margin, $padding: $padding, $borderRadius: $borderRadius, $trackBackground: $trackBackground, $slideBackground: $slideBackground, $modifier: $modifier);
            }
        }

        @content;
    }
}

@mixin scrollbarStyle($isOverlay: $scrollbar-overlay, $height: $scrollbar-max-height, $size: $scrollbar-size, $margin: $scrollbar-margin, $padding: $scrollbar-padding, $borderRadius: $scrollbar-border-radius, $trackBackground: $scrollbar-track-background, $slideBackground: $scrollbar-slide-background, $modifier: "") {
    &__wrapper {
        @if ($modifier == "") {
            position: relative;

            display: block;

            box-sizing: content-box;

            width: 100%;

            overflow: scroll;

            padding-right: 0;

            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;

            @if ($height != null) {
                height: auto;
                max-height: $height;
            } @else {
                height: 100%;
                max-height: none;
            }

            // hide native scrollbar
            &::-webkit-scrollbar {
                display: none;

                height: 0;
                width: 0;

                background: transparent;

                -webkit-appearance: none;
            }
        }

        @if ($isOverlay == false) {
            &--scroll-x {
                @if ($height != null) {
                    height: auto;
                    max-height: calc(#{$height} - #{$size + $margin * 2});
                } @else {
                    height: calc(100% - #{$size + $margin * 2});
                }
            }

            &--scroll-y {
                width: calc(100% - #{$size + $margin * 2});
            }
        } @else if ($modifier != "") {
            &--scroll-x {
                @if ($height != null) {
                    height: auto;
                    max-height: $height;
                } @else {
                    height: 100%;
                }
            }

            &--scroll-y {
                width: 100%;
            }
        }
    }

    @if ($modifier == "") {
        &__content {
            display: table;

            box-sizing: border-box;

            min-width: 100%;

            overflow: visible;
        }
    }

    &__track {
        border-radius: $borderRadius;

        background: $trackBackground;
        @if ($modifier == "") {
            position: absolute;

            display: none;

            opacity: 1;
        }

        &--y {
            right: $margin;

            width: $size;
            @if ($margin == 0 or $margin == 0) {
                top: 0;

                height: 100%;
            } @else {
                top: $margin;

                height: calc(100% - #{$margin * 2});
            }

            &--with-x {
                @if ($margin == 0 or $margin == 0) {
                    height: calc(100% - #{$size});
                } @else {
                    height: calc(100% - #{$size + $margin * 3});
                }
            }
        }

        &--x {
            bottom: $margin;

            height: $size;

            @if ($margin == 0 or $margin == 0) {
                left: 0;

                width: 100%;
            } @else {
                left: $margin;

                width: calc(100% - #{$margin * 2});
            }

            &--with-y {
                @if ($margin == 0 or $margin == 0) {
                    width: calc(100% - #{$size});
                } @else {
                    width: calc(100% - #{$size + $margin * 3});
                }
            }
        }

        @if ($modifier == "") {
            &--visility {
                display: block;
            }
        }

        &__slide {
            padding: $padding;

            border-radius: $borderRadius;
            @if ($modifier == "") {
                position: absolute;
                top: 0;
                left: 0;

                box-sizing: border-box;

                height: 100%;
                width: 100%;
            }

            &::after {
                border-radius: $borderRadius;

                background: $slideBackground;
                @if ($modifier == "") {
                    display: block;

                    height: 100%;
                    width: 100%;

                    content: "";
                }
            }
        }
    }

    &--disabled {
        .scrollbar {
            @if ($modifier == "") {
                &__track {
                    display: none;
                }
            }

            &__wrapper {
                @if ($modifier == "") {
                    overflow: hidden;
                }

                @if ($isOverlay == false) {
                    &--scroll-x {
                        @if ($height != null) {
                            height: auto;
                            max-height: $height;
                        } @else {
                            height: 100%;
                        }
                    }

                    &--scroll-y {
                        width: 100%;
                    }
                }
            }
        }
    }
    &--disabled-x {
        .scrollbar {
            &__track {
                @if ($modifier == "") {
                    &--x {
                        display: none;
                    }
                }

                &--y {
                    &--with-x {
                        @if ($margin == 0 or $margin == 0) {
                            height: 100%;
                        } @else {
                            height: calc(100% - #{$margin * 2});
                        }
                    }
                }
            }

            &__wrapper {
                @if ($modifier == "") {
                    overflow-x: hidden;

                    overflow-y: scroll;
                }

                @if ($isOverlay == false) {
                    &--scroll-x {
                        @if ($height != null) {
                            height: auto;
                            max-height: $height;
                        } @else {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    &--disabled-y {
        .scrollbar {
            &__track {
                @if ($modifier == "") {
                    &--y {
                        display: none;
                    }
                }

                &--x {
                    &--with-y {
                        @if ($margin == 0 or $margin == 0) {
                            width: 100%;
                        } @else {
                            width: calc(100% - #{$margin * 2});
                        }
                    }
                }
            }

            &__wrapper {
                @if ($modifier == "") {
                    overflow-x: hidden;

                    overflow-y: scroll;
                }

                @if ($isOverlay == false) {
                    &--scroll-y {
                        width: 100%;
                    }
                }
            }
        }
    }
}
