{% set demoContent=demoList.common.demo.color %}
{% set colorList=scssVal.color %}

{% from "demo/demo.html" import demo %}

{% call demo({key: "common.color", content: demoContent }) -%}
    {% if colorContent.title %}
    <h3><b>{{colorContent.title | safe}}</b></h3>
    {% endif %}
    {% if colorContent.description | typeof === 'string' and colorContent.description !== '' %}
        <p>{{colorContent.description | safe}}</p>
    {% else %}
    {% for i in colorContent.description %}
        <p>{{i | safe}}</p>
    {% endfor %}
    {% endif %}
    <div class="shortcode-color">
        {% for key, value in colorList %}
            {% if key !== 'color-fullList' and key %}
                <div class="shortcode-color__item">
                    <div class="shortcode-color__item__color {{key}}-background"></div>
                    <p class="shortcode-color__item__name">{{key}}<br/>{{value.value}}</p>
                    <div class="shortcode-color__item__code">
<pre class="language-scss"><code class="language-scss">.{{key}}, .{{key}}-background, .{{key}}-border</code></pre>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{%- endcall %}
