{% set demoContent=demoList.common.demo.input %}

{% from "demo/demo.html" import demo %}

{% call demo({content: demoContent }) -%}
    {% for key, value in demoContent.options %}
        {% if value %}
            {% if key !== 'select' and key !== 'textarea' %}
                <h4>input[type="{{key}}"]</h4>
                <div>
                    {%- if key === 'checkbox' or key === 'radio' %}
                        {% for i in range(1, 3) -%}
                            <label for="{{key}}InputDemo1-{{i}}">Default {{i}}</label>
                            <input name="{{key}}InputDemo1" type="{{key}}" id="{{key}}InputDemo1-{{i}}"{% if i === 1 %} checked{% endif %} />
                        {% endfor %}
                    {% else %}
                        <label for="{{key}}InputDemo1">Default</label><br/>
                        <input type="{{key}}" id="{{key}}InputDemo1"{%- if key === 'email' or key === 'number' or key === 'password' or key === 'search' or key === 'tel' or key === 'text' or key === 'url' %} placeholder="{{key}}"{% endif %} />
                    {%- endif %}
                </div>
                <div>
                    {%- if key === 'checkbox' or key === 'radio' %}
                        {% for i in range(1, 3) -%}
                            <label for="{{key}}InputDemo2-{{i}}">Disabled {{i}}</label>
                            <input name="{{key}}InputDemo2" type="{{key}}" id="{{key}}InputDemo2-{{i}}" disabled{% if i === 1 %} checked{% endif %} />
                        {% endfor %}
                    {% else %}
                        <label for="{{key}}InputDemo2">Disabled</label><br/>
                        <input type="{{key}}" id="{{key}}InputDemo2" disabled{%- if key === 'email' or key === 'number' or key === 'password' or key === 'search' or key === 'tel' or key === 'text' or key === 'url' %} placeholder="{{key}}" value="{% if key === 'number' or key === 'tel' %}666{% else %}Demo Text{% endif%}"{% endif %} />
                    {%- endif %}
                </div>
                {%- if key !== 'checkbox' and key !== 'color' and key !== 'file' and key !== 'radio' and key !== 'range' %}
                    <div>
                        <label for="{{key}}InputDemo3">Readonly</label><br/>
                        <input type="{{key}}" id="{{key}}InputDemo3" readonly{%- if key === 'email' or key === 'number' or key === 'password' or key === 'search' or key === 'tel' or key === 'text' or key === 'url' %} placeholder="{{key}}" value="{% if key === 'number' or key === 'tel' %}666{% else %}Demo Text{% endif%}"{% endif %} />
                    </div>
                {% endif -%}
            {% else %}
                <h4>{{key}}</h4>
                {% if key === 'textarea' %}
                    <div>
                        <label for="{{key}}Demo1">Default</label><br/>
                        <textarea id="{{key}}Demo1" placeholder="{{key}}"></textarea>
                    </div>
                    <div>
                        <label for="{{key}}Demo2">Disabled</label><br/>
                        <textarea id="{{key}}Demo2" disabled placeholder="{{key}}">Demo Text</textarea>
                    </div>
                    <div>
                        <label for="{{key}}Demo3">Readonly</label><br/>
                        <textarea id="{{key}}Demo3" readonly placeholder="{{key}}">Demo Text</textarea>
                    </div>
                {% else %}
                    <div>
                        <label for="{{key}}Demo1">Default</label><br/>
                        <select id="{{key}}Demo1">
                            {% for i in range(1, 3) -%}
                                <option>option {{i}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="{{key}}Demo2">Disabled</label><br/>
                        <select id="{{key}}Demo2" disabled>
                            {% for i in range(1, 3) -%}
                                <option>option {{i}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{%- endcall %}
